.activityTabs {
    background-color: white;


    &__tab-div {
        justify-content: center;
        display: flex !important;
        flex-direction: row !important;
        flex-wrap: nowrap !important;
        gap: 8px;
        padding-top: 40px;
    }

    &__tab {
        background-color: #F0F0F0;
        list-style: none;
    }
}